.DS_Store
node_modules
src
db
member.json
tsconfig.json
webpack.config.js
*.log
.VSCodeCounter
# local env files
.env.local
.env.*.local
.cache
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
test.js
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?